{% extends "_layouts/cp" %}

{% set title = "Import"|t %}

{% set tabs = {
    overview: { label: "Import history"|t, url: url('import') },
    upload: { label: "Upload file"|t, url: url('import/upload') },
    map:    { label: "Map fields"|t, url: '' }
} %}

{% set selectedTab = 'map' %}

{% includeJsResource 'import/js/import.js' %}

{% import "_includes/forms" as forms %}

{% set importType = craft.request.getParam('importType') %}

{% if not importType %}
    {% exit 404 %}
{% endif %}

{% set content %}
    {% include 'import/map/' ~ importType|lower %}
{% endset %}