<form method="post" action="" class="centered" accept-charset="UTF-8">
    <input type="hidden" name="action" value="import/importFile">
    <input type="hidden" name="type" value="{{ import.type }}">
    {% for group in import.groups %}
    <input type="hidden" name="groups[]" value="{{ group }}">
    {% endfor %}    
    <input type="hidden" name="behavior" value="{{ import.behavior }}">
    <input type="hidden" name="file" value="{{ import.file }}">
    <input type="hidden" name="email" value="{{ import.email }}">
    <input type="hidden" name="backup" value="{{ import.backup }}">
    <input type="hidden" name="unique[]" value="">
    
    {% set fieldLayout = craft.fields.getLayoutByType(importType) %}
                        
    <p>{{ "Choose where you want to import your fields. * Please note that e-mail is always required."|t }}</p>
    
    <table class="data">
    {% for column in columns %}
        {% set column = column|trim %}
        <tr>
            <td>
                <div class="field">
                    <div class="heading">
                        <label>{{ column }}</label>
                        <div class="instructions">
                            <p>{{ "will be imported into:"|t }}</p>                
                        </div>
                    </div>
                </div>
            </td>
            <td>
                <div class="field">
                    <div class="input">
                        <div class="select mapper">
                            <select name="fields[{{ column }}]" class="importFields">
                                <option value="dont">{{ "Don't import"|t }}</option>
                                <option value="username"{% if column == 'username' or column == 'name' %} selected{% endif %}>{{ "Username"|t }}</option>
                                <option value="firstName"{% if column == 'firstName' %} selected{% endif %}>{{ "First name"|t }}</option>
                                <option value="lastName"{% if column == 'lastName' %} selected{% endif %}>{{ "Last name"|t }}</option>
                                <option value="email"{% if column == 'email' %} selected{% endif %}>{{ "E-mail"|t }} *</option>
                                <option value="status"{% if column == 'status' %} selected{% endif %}>{{ "Status"|t }}</option>
                            {% for field in fieldLayout.getFields() %}
                                {% set f = field.getField() %}
                                <option value="{{ f.handle }}"{% if column|lower == f.name|lower or column|lower == f.handle|lower %} selected{% endif %}>{{ f.name }}{% if f.required %} *{% endif %}</option>
                            {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
            </td>
            {% if import.behavior != 'append' %}
            <td class="importCriterium">
            {{ forms.checkboxField({
                label: 'Criterium'|t,
                instructions: "Criterium for finding existing data."|t,
                name: "unique[" ~ column ~ "]",
                class: "unique",
                checked: loop.first
            }) }}
            </td>
            {% endif %}
        </tr>
    {% endfor %}
        <tr>
            <td colspan="2" style="border-bottom: none"><input type="submit" class="btn submit" value="{{ 'Import'|t }}"></td>
        </tr>
    </table>
</form>