{% set fieldLayout = craft.fields.getLayoutByType(import.type) %}
                    
<p>{{ "Choose where you want to import your fields. * Please note that e-mail is always required."|t }}</p>

<table class="data">
{% for column in columns %}
    {% set column = column|trim %}
    <tr>
        <td>
            <div class="field">
                <div class="heading">
                    <label>{{ column }}</label>
                    <div class="instructions">
                        <p>{{ "will be imported into:"|t }}</p>                
                    </div>
                </div>
            </div>
        </td>
        <td>
            <div class="field">
                <div class="input">
                    <div class="select mapper">
                        <select name="fields[{{ column }}]" class="importFields">
                            <option value="dont">{{ "Don't import"|t }}</option>
                            <option value="username"{% if column|lower == 'username' or column|lower == 'name' %} selected{% endif %}>{{ "Username"|t }}</option>
                            <option value="photo"{% if column|lower == 'photo' or column|lower == 'userphoto' %} selected{% endif %}>{{ "Photo"|t }}</option>
                            <option value="firstName"{% if column|lower == 'firstname' or column|lower == 'first name' %} selected{% endif %}>{{ "First Name"|t }}</option>
                            <option value="lastName"{% if column|lower == 'lastname' or column|lower == 'last name' %} selected{% endif %}>{{ "Last Name"|t }}</option>
                            <option value="email"{% if column|lower == 'email' or column|lower == 'emailaddress' or column|lower == 'e-mail' or column|lower == 'e-mailadddress' %} selected{% endif %}>{{ "Email"|t }} *</option>
                            <option value="status"{% if column|lower == 'status' %} selected{% endif %}>{{ "Status"|t }}</option>
                            <option value="preferredLocale"{% if column|lower == 'locale' %} selected{% endif %}>{{ "Preferred Locale"|t }}</option>
                            <option value="newPassword"{% if column|lower == 'password' %} selected{% endif %}>{{ "Password"|t }}</option>
                        {% for field in fieldLayout.getFields() %}
                            {% set f = field.getField() %}
                            <option value="{{ f.handle }}"{% if column|lower == f.name|lower or column|lower == f.handle|lower %} selected{% endif %}>{{ f.name }}{% if f.required %} *{% endif %}</option>
                        {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
        </td>
        {% if import.behavior != 'append' %}
        <td class="importCriterium">
        {{ forms.checkboxField({
            label: 'Criterium'|t,
            instructions: "Criterium for finding existing data."|t,
            name: "unique[" ~ column ~ "]",
            class: "unique",
            checked: loop.first
        }) }}
        </td>
        {% endif %}
    </tr>
{% endfor %}
    <tr>
        <td colspan="2" style="border-bottom: none"><input type="submit" class="btn submit" value="{{ 'Import'|t }}"></td>
    </tr>
</table>