{% extends "_layouts/cp" %}

{% set title = "Import"|t %}

{% set tabs = {
    overview: { label: "Import history"|t, url: url('import') },
    upload: { label: "Upload file"|t, url: url('import/upload') },
    map:    { label: "Map fields"|t, url: '', class: 'disabled' }
} %}

{% set selectedTab = 'upload' %}

{% includeJsResource 'import/js/import.js' %}

{% import "_includes/forms" as forms %}

{% set content %}
    <form id="import-form" method="post" action="" class="centered" accept-charset="UTF-8" enctype="multipart/form-data">
        <input type="hidden" name="action" value="import/uploadFile">
        
        {% set elementTypes = {} %}
        {% for elementType, properties in craft.elements.getAllElementTypes if elementType == 'User' or elementType == 'Entry' %}
            {% set elementTypes = elementTypes|merge([elementType]) %}
        {% endfor %}
        
        {% set sections = {} %}
        {% for section in craft.sections.getEditableSections() if section.type != 'single' %}
            {% set sections = sections|merge([section]) %}
        {% endfor %}
        
        {% set groups = {} %}
        {% for group in craft.userGroups.getAllGroups() %}
            {% set groups = groups|merge([group]) %}
        {% endfor %}
        
        <table class="data">
            <thead>
                <tr>
                    <td>
                        <div class="field">
                            <div class="heading">
                                <label>{{ "Element type"|t }}</label>
                                <div class="instructions">
                                    <p>{{ "Choose the element type you want to import into."|t }}</p>                
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="field">
                            <div class="input">
                                <div class="select">
                                    <select name="importType" id="types">
                                    {% for elementType in elementTypes %}
                                        <option value="{{ elementType }}">{{ elementType }}</option>
                                    {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </thead>
            {% if sections | length %}
            <tbody class="type entry">
                <tr class="importSection">
                    <td>
                        <div class="field">
                            <div class="heading">
                                <label>{{ "Section"|t }}</label>
                                <div class="instructions">
                                    <p>{{ "Choose the section you want to import to."|t }}</p>                
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="field">
                            <div class="input">
                                <div class="select">
                                    <select name="importSection" id="sections">
                                    {% for section in sections %}
                                        <option value="{{ section.id }}">{{ section.name }}</option>
                                    {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr class="importEntryType">
                    <td>
                        <div class="field">
                            <div class="heading">
                                <label>{{ "Entrytype"|t }}</label>
                                <div class="instructions">
                                    <p>{{ "Choose the entrytype you want to import to."|t }}</p>                
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="field">
                            <div class="input">
                                <div class="select">
                                    <select name="importEntryType" id="entrytypes">
                                    {% for entrytype in sections[0].getEntryTypes() %}
                                        <option value="{{ entrytype.id }}">{{ entrytype.name }}</option>
                                    {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
            <tbody class="type user" style="display: none">
                <tr>
                    <td>
                        <div class="field">
                            <div class="heading">
                                <label>{{ "Group"|t }}</label>
                                <div class="instructions">
                                    <p>{{ "Choose the groups you want to import into."|t }}</p>                
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                    {% for group in groups %}
                        {{ forms.checkboxField({
                            label: group.name,
                            name: "groups[]",
                            checked: true,
                            value: group.id
                        }) }}
                    {% endfor %}
                    </td>
                </tr>
            </tbody>
            <tbody>
                <tr class="importBehavior">
                    <td>
                        <div class="field">
                            <div class="heading">
                                <label>{{ "Import behavior"|t }}</label>
                                <div class="instructions">
                                    <p>{{ "Choose the behaviour you want to import with."|t }}</p>                
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="field">
                            <div class="input">
                                <div class="select">
                                    <select name="importBehavior" id="behaviors">
                                        {% if currentUser.can('append') %}<option value="append">{{ "Append data"|t }}</option>{% endif %}
                                        {% if currentUser.can('replace') %}<option value="replace">{{ "Replace data"|t }}</option>{% endif %}
                                        {% if currentUser.can('delete') %}<option value="delete">{{ "Delete data"|t }}</option>{% endif %}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr class="importFile">
                    <td>
                        <div class="field">
                            <div class="heading">
                                <label>{{ "File"|t }}</label>
                                <div class="instructions">
                                    <p>{{ "Choose the file you want to import.<br />Valid file formats: CSV"|t|raw }}</p>                
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="field">
                            <div class="input">
                                <input type="file" name="importFile">
                            </div>
                        </div>
                    </td>
                </tr>
                <tr class="importEmail">
                    <td>
                        <div class="field">
                            <div class="heading">
                                <label>{{ "Send e-mail notification"|t }}</label>
                                <div class="instructions">
                                    <p>{{ "Send an e-mail summary when the import process is completed."|t }}</p>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="field">
                            <div class="input">
                                <input type="hidden" name="importEmail" value="0">
                                <input type="checkbox" name="importEmail" value="1" id="email" />
                            </div>
                        </div>
                    </td>
                </tr>
                <tr class="importBackup">
                    <td>
                        <div class="field">
                            <div class="heading">
                                <label>{{ "Backup Database"|t }}</label>
                                <div class="instructions">
                                    <p>{{ "Backup database before importing"|t }}</p>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="field">
                            <div class="input">
                                <input type="hidden" name="importBackup" value="0">
                                <input type="checkbox" name="importBackup" value="1" id="backup" disabled />
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="border-bottom: none"><input type="submit" class="btn submit" value="{{ 'Next'|t }}"></td>
                </tr>
            </tbody>
            {% else %}
            <tbody class="type entry">
                <tr>
                    <td colspan="2">
                        <div class="field">
                            <div class="heading">
                                <label>{{ "Section"|t }}</label>
                                <div class="instructions">
                                    <p>{{ "You don't have permission to access any section."|t }}</p>                
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
            {% endif %}
        </table>
        
    </form>
{% endset %}